<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmu.ubibike">

    <uses-sdk android:minSdkVersion="15" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/marker"
        android:label="@string/app_name"
        android:name=".UbiApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">

        <!-- Google Maps API KEY -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBo6CXPk7SkenfO-66ZHF94LooOm8gDVNU" />

        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreateAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/create_account_title"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.SearchUserActivity"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".activities.StationsActivity" />
        <activity android:name=".activities.BookBikesActivity" />
        <activity
            android:name=".activities.NearbyUsersActivity"
            android:label="@string/nearby_users_title" />
        <activity android:name=".activities.UserPresentationActivity" />
        <activity android:name=".activities.TrackTrajectoryDemo" />

        <!-- Services -->
        <service android:name=".services.GpsTrackingService" />
        <service
            android:name=".services.UserUpdateService"
            android:exported="false" />
        <service android:name="pt.inesc.termite.wifidirect.service.SimWifiP2pService" />

        <activity
            android:name=".activities.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".services.WifiDirectService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>
